<button *ngIf="login" (click)="logout()">Logout</button>
<div *ngIf="!login">
  <form [formGroup]="userForm">
    email: <input formControlName="email" placeholder="Enter Email" />
    <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
      please enter correct email
    </div>
    password:
    <input formControlName="password" placeholder="Enter Pasword" />
  </form>
  <button [disabled]="userForm.invalid" (click)="onLoginFormSubmit()">
    Submit
  </button>
</div>

<div *ngIf="login">
  <p>
    You have <b>{{ loggedInUser.role }}</b> permissions
  </p>
  <p *ngIf="loggedInUser.role === 'admin'">Create user</p>
  <p *ngIf="loggedInUser.role === 'admin'">Creat task</p>
  <p *ngIf="loggedInUser.role === 'user' || loggedInUser.role === 'admin'">
    Create appointment
  </p>
  <p *ngIf="loggedInUser.role === 'user' || loggedInUser.role === 'admin'">
    delete appointment
  </p>
</div>
